.group-container {
  background-image: url(asset_path("bg-snow.jpg"));
  background-size: cover;
  min-height: 100vh;
}

.show-group-container {
  // background-color: #FAFAFA;
  background-image: linear-gradient(to bottom, rgba(0,0,0,.3)), url(asset_path("pattern.jpg"));
}

.group-background {
  background-color: transparent;
}

.add-group-info {
  background-color: #FAFAFA;
  padding: 50px;
  img {
    width: 200px;
    margin-bottom: 50px;
  }
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.info-left {
  background-image: url(asset_path("bg-snow.jpg"));
  background-size: cover;
  padding: 40px;
  height: 100vh;
  img {
    width: 200px;
    margin-bottom: 50px;
  }
}


.add-group-right {
  margin: 100px auto;
}

.group-detail{
  width: 100%;
}

.group-bg {
  background-size: cover;
  background-repeat: none;
  background-position: center;
  height: 400px;
  width: 100%;
  position: relative;
}

.group-members {
  margin: 0px auto;
  padding: 0px 100px;
}

.group-info-box {
  margin: 0px auto;
  padding: 100px;
}


#url-input {
  margin-bottom: 20px;
}

#copy-button {
  margin-bottom: 20px;
}

.group-box {
  width: 100%;
  background-color: white;
  padding: 50px;
  margin-bottom: 30px;
}

.group-row {
  margin-top: 50px;
}

.group-title {
  color: white;
  font-size: 36px;
  position: absolute;
  bottom: 15px;
  left: 15px;
}

@media screen and (max-width: 768px){
  .group-box {
    padding: 25px;
  }
}
