.btn-secondary {
  background-color: #F2A950;
  border: none;
  box-shadow: #F26B5E 0px 5px 0px;
  &:hover {
    background-color: #F2A800;
  }
}

.back-button {
  border-color: white;
  margin: 25px;
  color: white;
}
